@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #0460D9;
    --cor1: #0DF205;
    --cor2: #05F258;
    --cor3: #60B852;
    --cor4: #0460D9;
    --cor5: #0442BF;
    --cor6: #0439D9;
    --cor7: #044BD9;
    --cor8: #D98D04;
    --cor9: #F20505;
    --cor10: #E7E8EB;
    --cor11: #02054b;
    --cor12: #0442BF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'fontelogo';
    --fonte-public: 'public';
}

body {
    font-family: var(--fonte-padrao);
    background-color: #E7E8EB;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}
/*Primeiro número para contato logo em cima*/
header>h1 {
    background-color: blue;
    color: white;
}
/*Parte do menu imagem*/
#cabecalho {
    background-color: #02054b;
    padding-top: 100px;
    padding-left: 50px;
    text-align: left;
    display: block;
}
@media screen and (min-width: 768px){
#itens {
    margin-top: -150px;
    
}
}
header>menu>nav{
    background-color: #02054b;
    color: white;
    text-align: center;
}
header>menu>nav>ul>a{
    display: inline;
    font-size: 30px;
    padding: 30px;
    background-color: #4163c9; 
}


/* -------------------------SLIDE---------------------------------- */


section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 25%; /* altura do bnt */
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--cor0);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: var(--cor1);
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: var(--cor0);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}

/*---------------------------MENU HAMBURGUER------------------------------*/

span.material-symbols-outlined {
    background-color: var(--cor7);
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span.material-symbols-outlined:hover {
    background-image: linear-gradient(45deg, var(--cor0), var(--cor1));
    color: black;
}

menu {
    display: none;
    
}

menu>ul {
    list-style: none;
}

menu>ul>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0);
    color: var(--cor0);
    text-align: center;
    
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    span.material-symbols-outlined {
        display: none;
    }
 
    menu {
        display: block;
        
        
    }

    menu>ul>a {
        display: inline-block;

        border-radius: 5px;
    }
}   

/*-------------------------MENU DROPDOWN---------------------------------*/

nav li {
    display: inline-block;
}
nav li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px;

}

nav li a:hover {
    background-color: red;
}

.dropdown-menu{
    position: absolute;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a{
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

