@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #078C03;
    --cor1: #0DF205;
    --cor2: #05F258;
    --cor3: #60B852;
    --cor4: #0460D9;
    --cor5: #0442BF;
    --cor6: #0439D9;
    --cor7: #044BD9;
    --cor8: #D98D04;
    --cor9: #F20505;
    --cor10: #E7E8EB;
    --cor11: #02054b;
    --cor12: #0442BF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'fontelogo';
    --fonte-public: 'public';
}

body {
    font-family: var(--fonte-padrao);
    background-color: #E7E8EB;
    text-align: center;
}
a {
    color: inherit;
    text-decoration: none;
}
/*Primeiro número para contato logo em cima*/
header>h1 {
    background-color: blue;
    color: white;
}
/*Parte do menu imagem*/
header>menu {
    background-color: #02054b;
    padding: 100px;
    text-align: left;
}

header>menu>nav{
    background-color: #02054b;
    color: white;
    text-align: center;
}
header>menu>nav>ul>a{
    display: inline;
    font-size: 30px;
    padding: 30px;
    background-color: #4163c9;
    
    
}

/* SLIDE */


section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--cor0);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: var(--cor1);
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: var(--cor0);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}