@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    
}

:root {
    --cor0: #0460D9;
    --cor1: #0DF205;
    --cor2: #05F258;
    --cor3: #60B852;
    --cor4: #0460D9;
    --cor5: #0442BF;
    --cor6: #0439D9;
    --cor7: #044BD9;
    --cor8: #D98D04;
    --cor9: #F20505;
    --cor10: #E7E8EB;
    --cor11: #02054b;
    --cor12: #0442BF;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'fontelogo';
    --fonte-public: 'public';
}

body, html {
    margin: 0;
    padding: 0;
    height: 75%;
  }


a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}


#contato1 {
    display: flex;
    text-align: right;
    background-color:#3775A5;
    padding: 26px; 
}

#xtwitter {
    display: flex;
    flex-direction: row;
    background-color: white;
    
}
#contato1 img {
    background-color: white;
    border-radius: 20px;
    border-color: #02054b;
    
}
#contato1 img:hover {
    background-color: rgb(127, 179, 238);
    
    
    
}


#contato2 {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin-left: auto; /* Adicionado para empurrar para a direita */
 }
 

#contato2 > img {
    margin-bottom: -10px;
    margin-right: -1px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}



#header {
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e7e7;
    padding: 60px 0px 60px 0px;
    /* margin-bottom: -22vh; */
    
    
    
    
}
#nav {
    display: flex;
    gap: 4rem;
}
#whatsapp{
    background-color: #383b9c;
    color: white;
    border-radius: 30px;
    margin-left: 30px;
    padding: 10px 50px;
    position: relative;
    left: 20px;

}
img {
    margin-right: 1rem;
    max-width: 100%; /* Garante que a largura da imagem não ultrapasse a largura do contêiner pai */
}


#menu {
    display: flex;
    list-style: none;
    gap:.4rem;
    
}
#menu a{
    display: block;
    padding: .9rem;
    border: 2px solid transparent; /* Define a borda inicialmente transparente */
    transition:  0.6s ease; /* Adiciona uma transição suave para a mudança de cor */
    border-radius: 15px;
}
#menu a:hover{
    border-color: blue; /* Torna a borda preta ao passar o mouse */
    color: blue;
}


#btn-mobile{
    display: none;
}
@media screen and (max-width: 1010px) {

    #nav.active #menu{
        height: 40vh;
        visibility: visible;
    }
#whatsapp{
    display: inline-block;
}

    #header {
        flex-direction: column; /* Altera a direção do flex para coluna em resoluções menores */
        text-align: center; /* Alinha o texto ao centro quando a direção do flex é coluna */
    }

    img {
        margin-right: 0; /* Remove a margem à direita da imagem em resoluções menores */
        margin-bottom: 1rem; /* Adiciona margem inferior à imagem para separá-la do texto centralizado */
    }
}


@media (max-width:600px){

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 48%;
        transform: translateY(10%);
        right: 0;
        background-color: #e7e7e7;
        z-index: 1000;
        transition: 0.6s;
        height: 0;
        visibility: hidden;
        overflow-y: hidden; /* Remover a barra de rolagem vertical */
    }

    #nav.active #menu{
        height: 30vh;
        visibility: visible;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(rgba(0, 0, 0, .05));
        text-align: center;
    }
    
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        border-top: 2px solid ;
        width: 20px;
        display: block;
        margin-top: 4px;
    }
    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);

    }

    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    #whatsapp{
       
        visibility: hidden;
    }
}   
@media (max-width:400px){
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(10%);
        right: 0;
        background-color: #e7e7e7;
        z-index: 1000;
        transition: 0.6s;
        height: 0;
        visibility: hidden;
        overflow-y: hidden; /* Remover a barra de rolagem vertical */
    }
    #nav.active #menu{
        height: 40vh;
        visibility: visible;
    }
    
}
@media (max-width:375px){
    #menu {
    top: 60%;
}
#nav.active #menu{
    height: 50vh;
    visibility: visible;
}
}
@media (max-width:300px){
    #menu {
    top: 60%;
}
}